@font-face {
    font-family: 'pop' ;
    src: url('../src/assets/Fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'pop_bold';
    src: url('./assets/Fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'inter';
    src: url('../src/assets/Fonts/Inter-Medium.ttf');
}


html{
    overflow-x: hidden
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
body{
   font-family: 'pop'; 
   overflow-x: hidden;
   background-color: #F9F9F9;
}
nav{
    position: relative;
}
.container{
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    transition: 0.2s;
}
a,.pp{
    font-family: 'inter';
}
.minus{
    position: absolute;
    top: 0;
    left: 0;
background-color: #6C5FBC;
width: 20px;
height: 20px;
transition: 0.3s;
transform: translateX(-200px);
border-top-right-radius: 20px;
}
.plus{
position: absolute;
background-color:#6C5FBC;
width: 200px;
height: 20px; 
transition: 0.3s; 
top: 100px;
left: 0;
transform: translateX(0);
height: 100vh;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;

}
.hh:hover{
    -webkit-box-shadow: 1px 5px 11px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 5px 11px 0px rgba(34, 60, 80, 0.2);
box-shadow: 1px 5px 11px 0px rgba(34, 60, 80, 0.2);
}
#sec_one{
    background-image: url('./assets/bgs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ppp{
    list-style-type: disc;
}
.tt{
    -webkit-box-shadow: 1px 35px 79px -1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 35px 79px -1px rgba(34, 60, 80, 0.2);
box-shadow: 1px 35px 79px -1px rgba(34, 60, 80, 0.2);
}
.cc{
    box-shadow: 4.479498863220215px 53.75398635864258px 26.87699317932129px 0px #E5E5E5B2;
}
.bb{
    cursor: pointer;
}
.bb:hover{
    -webkit-box-shadow: 1px 16px 42px -1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 16px 42px -1px rgba(34, 60, 80, 0.2);
box-shadow: 1px 16px 42px -1px rgba(34, 60, 80, 0.2);
}
.aa{
    -webkit-box-shadow: 1px 13px 39px -2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 13px 39px -2px rgba(34, 60, 80, 0.2);
box-shadow: 1px 13px 39px -2px rgba(34, 60, 80, 0.2);
}
.ll{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.ff{
    background-image: url('./assets/Subscribe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.kk:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* ............. */
.loader {
    position: relative;
    width: 75px;
    height: 100px;
  }
  
  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: rgb(0, 0, 0);
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  
  .loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
  }
  
  .loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
  }
  
  .loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
  }
  
  .loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
  }
  
  .loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
  }
  
  .loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgb(44, 143, 255);
    border-radius: 50%;
    -webkit-animation: ball624 4s infinite;
    animation: ball624 4s infinite;
  }
  
  @keyframes ball624 {
    0% {
      transform: translate(0, 0);
    }
  
    5% {
      transform: translate(8px, -14px);
    }
  
    10% {
      transform: translate(15px, -10px);
    }
  
    17% {
      transform: translate(23px, -24px);
    }
  
    20% {
      transform: translate(30px, -20px);
    }
  
    27% {
      transform: translate(38px, -34px);
    }
  
    30% {
      transform: translate(45px, -30px);
    }
  
    37% {
      transform: translate(53px, -44px);
    }
  
    40% {
      transform: translate(60px, -40px);
    }
  
    50% {
      transform: translate(60px, 0);
    }
  
    57% {
      transform: translate(53px, -14px);
    }
  
    60% {
      transform: translate(45px, -10px);
    }
  
    67% {
      transform: translate(37px, -24px);
    }
  
    70% {
      transform: translate(30px, -20px);
    }
  
    77% {
      transform: translate(22px, -34px);
    }
  
    80% {
      transform: translate(15px, -30px);
    }
  
    87% {
      transform: translate(7px, -44px);
    }
  
    90% {
      transform: translate(0, -40px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }
  
  @-webkit-keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @-webkit-keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @-webkit-keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @-webkit-keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @-webkit-keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }